/* Estilo para reducir el tamaño del carrusel */
.carousel-container {

  border-radius: 5px;
  overflow: hidden;
  // box-shadow: 0 0 10px map-get($map: $color, $key: "black");
}

.carousel-inner{
    img {
    height: 500px; /* Ajusta la altura deseada */
    object-fit: cover; /* Para que la imagen no se deforme */
    width: 100%;
  }
}

.carousel-control-prev-icon{
  background-size: 75% 75%; /* Tamaño más pequeño de las flechas */
}

.carousel-control-next-icon{
  @extend .carousel-control-prev-icon;
}
